*{
    background-color: darksalmon;
}

h1{
    color: red;
    
}
p {
    column-count: 3;
    column-gap: 40px;
    -webkit-column-gap: 40px; /* Para Chrome, Safari, Opera */
    column-rule: 1px solid red; /* Define la línea divisoria */
}

.h1:hover{
    background-color:blueviolet;
    ;
}

p::selection {
    background: green;
}