/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
/*Contenedor padre*/

.contenedorPrincipal {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.cabecera {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.cabecera img{
    width: 20vw;
}
.menuCabecera{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}
.menuCabecera nav {
    display: flex;
    justify-content: flex-end; 
}
.menuCabecera a {
    text-decoration: none;
    color: black; 
    margin-left: 20px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    
    /*Contenedor padre*/
    .imagenPrincipal {
        background-image: url(../images/landing.jpg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center; 
        text-align: center; 
        padding: 20px; 
        justify-content: center;
        height: 100vh;
        padding: 20px;
        
    }
    
    .imagenPrincipal img{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
   
    
    /*Contenedor padre*/
    .contenedor{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 5px;
        align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    
    }
    
    
    h1 {
        display: inline-block; 
        color: black; 
        text-align: center;
        margin: 8px;
        
        
    }
    h1::after {
        content: ""; 
        display: flex; 
        width: 100%; 
        border-bottom: 2px solid #00B172; 
        
    }
    
    .contenedor1 img{
        width: 15vw;
        height: auto;
    
    }
    
    /*Contenedor padre*/
    .contenedor1{
        display: flex;
        justify-content: center;
        gap: 60px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
        
    }
    
    .millGreen, .hdGreen, .everyWhere{
        color: #00B172;
        font-weight: bold;
        font-size: 1.2em;
    }
    .songs, .were{
        text-align: center;
    }
    
    .hd{
        margin-top: 15px;
    }
    .stream{
        margin-top: 5px;
    }
    
    .contenedor1 p{
        text-align: center;
    }

    .tituloImagen {
        position: absolute; /* Posiciona el título absolutamente dentro del contenedor */
        top: 20px; /* Ajusta la posición vertical */
        left: 50%; /* Ajusta la posición horizontal */
        transform: translateX(-50%); /* Centra horizontalmente */
        color: white;
        text-align: center;
        font-size: 5em;
    }
    .parrafo {
        position: absolute; /* Posiciona el párrafo absolutamente dentro del contenedor */
        bottom: 20px; /* Ajusta la posición vertical */
        left: 50%; /* Ajusta la posición horizontal */
        transform: translateX(-50%); /* Centra horizontalmente */
        color: white;
        text-align: center;
        font-size: 22px;
    }
    .tituloImagen, .parrafo {
        text-align: center; /* Centra el texto horizontalmente */
        margin: 0; /* Asegura que no haya ningún margen que cause desbordamiento */
        max-width: 90%; /* Limita el ancho del texto para que no sea más ancho que la imagen */
    }

.greenContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: green;
    padding: 20px;
    text-align: left;
    color: white;
    padding: 20px;
    position: relative; 
    z-index: 1;
    justify-content: space-between;
    
}
.kanye{
    width: 50%;
    text-decoration:underline ;
    margin-left: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.textoVerde {
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    margin-bottom: 25vw;
    justify-content: center;
}
.negrita {
    font-weight: bold;
    font-size: 1.4em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
}
.contenidoImagen {
    /* width: 50%; */
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15vh;
}
.logoBlanco,
        .reproductor {
            width: 20vw; /* Para asegurar que las imágenes no excedan el tamaño del contenedor */
            height: auto; /* Para mantener la relación de aspecto */
            margin-left:20px;
            margin: 57px; /* Ajusta el espacio entre las imágenes */
        }

        .contenidoTexto {
            width: 50%; /* Ancho del contenido de texto */
        }




    @media screen and (max-width: 768px) {
        .cabecera {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .menuCabecera{
            margin: 8px;
            display: flex;
            padding: 25px;
        }
        img {
            width: 50vw;
        }
        .imagenPrincipal{
        background-image: url(../images/landing.jpg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center; 
        text-align: center; 
        padding: 20px; 
        justify-content: center;
        height: 100vh;
        padding: 20px;

        }
        .contenedor1 {
            display: flex;
            flex-direction: column;
            align-items: center; 
            gap: 0.9px;
        }
        .contenedor{
            margin: 5px;
            justify-content: center;
        }
    
        .contenedor1 img {
            width: 15vw;
            align-items: center;
            margin: 50px;
        }
        .tituloImagen{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        
        }
        
    
        .kanye,
        .textoVerde {
            width: 100;; 
        }
        .contenidoImagen {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 2vh;
        }
        .reproductor {
            margin-left: 0px; 
            width: 35vw;
        }
        .logoBlanco{
            width: 35vw;
            margin-left: 0px;
        }
        .greenContainer{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            background-color: green;
            padding: 20px;
            text-align: left;
            color: white;
            padding: 20px;
            position: relative; 
            z-index: 1;
            justify-content: space-between;
            
        }


        
    } 
    